go 1.25.0

use (
	./apps/apex
	./apps/backup
	./apps/bard
	./apps/blobs
	./apps/bookmarks
	./apps/content
	./apps/daily
	./apps/dead-presidents
	./apps/feed
	./apps/keys
	./apps/library
	./apps/pulse
	./apps/qr
	./apps/scrap
	./apps/sideload
	./lib/auth
	./lib/backup
	./lib/cid
	./lib/keys
	./lib/pulse
	./lib/qrenc
	./lib/store
	./lib/theme
	./lib/web
)
