go 1.25.0

use (
	./apps/apex
	./apps/backup
	./apps/bard
	./apps/blobs
	./apps/bookmarks
	./apps/calendar
	./apps/content
	./apps/dead-presidents
	./apps/feed
	./apps/library
	./apps/qr
	./lib/auth
	./lib/backup
	./lib/cid
	./lib/store
	./lib/theme
	./lib/web
)
